
.contenedor{
	position: relative;
	float: left;
	height: auto;
	width: 95%;
	margin-left: 2.5%;
	margin-bottom: 10px;
	overflow: hidden;

}
.col-1{
	position: relative;
	float: left;
	height: auto;
	width: 4.495%;
	margin-left: 1%;
	margin-right: 1%;
	margin-top:10px;
	padding: 10px;
}
.col-2{
	position: relative;
	float: left;
	height: auto;
	width: 12.80%;

	margin-left: 1%;
	margin-right: 1%;
	margin-top:10px;
	padding: 10px;
}
.col-3{
	position: relative;
	float: left;
	height: auto;
	width: 21.15%;

	margin-left: 1%;
	margin-right: 1%;
	margin-top:10px;
	padding: 10px;
}
.col-4{
	position: relative;
	float: left;
	height: auto;
	width: 29.43%;

	margin-left: 1%;
	margin-right: 1%;
	margin-top:10px;
	padding: 10px;
}
.col-5{
	position: relative;
	float: left;
	height: auto;
	width: 37.75%;

	margin-left: 1%;
	margin-right: 1%;
	margin-top:10px;
	padding: 10px;
}
.col-6{
	position: relative;
	float: left;
	height: auto;
	width: 46%;

	margin-left: 1%;
	margin-right: 1%;
	margin-top:10px;
	padding: 10px;
}

.col-7{
	position: relative;
	float: left;
	height: auto;
	width: 54.3%;

	margin-left: 1%;
	margin-right: 1%;
	margin-top:10px;
	padding: 10px;
}
.col-8{
	position: relative;
	float: left;
	height: auto;
	width: 62.55%;

	margin-left: 1%;
	margin-right: 1%;
	margin-top:10px;
	padding: 10px;
}
.col-9{
	position: relative;
	float: left;
	height: auto;
	width: 70.88%;

	margin-left: 1%;
	margin-right: 1%;
	margin-top:10px;
	padding: 10px;
}
.col-10{
	position: relative;
	float: left;
	height: auto;
	width: 79.2%;

	margin-left: 1%;
	margin-right: 1%;
	margin-top:10px;
	padding: 10px;
}
.col-11{
	position: relative;
	float: left;
	height: auto;
	width: 87.5%;

	margin-left: 1%;
	margin-right: 1%;
	margin-top:10px;
	padding: 10px;
}
.col-12{
	position: relative;
	float: left;
	height: auto;
	width: 95.8%;

	margin-left: 1%;
	margin-right: 1%;
	margin-bottom:10px;
	padding: 10px;
}

.row{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	position: relative;
	float: left;
	width: 100%;
	height: auto;
	padding: 10px 0px;
	margin-bottom: 10px;
	margin-top: 0px;
	
	

}


.bordesOn{
	border : solid black 1px;
}

.contentCenter{
	display: flex;
	justify-content: center;

}
.contentToEnd{
	display: flex;
	justify-content: flex-end;
}

h1{
	font-family: Rockwell Extra Bold;
}
h3,h2,h4,h5,p{
	font-family: MS Sans serif;
}
li a, h3 a {
	text-decoration: none;
	font-family: MS Sans Serif;
}

.white{
	color: white;

}
.black{
	color:black;
}
.red{
	color: red;
}

.textCenter{
	text-align: center;
}
.footer{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 30px;
	background-color: rgb(73,26,141);
}

.imgContent img {
	position: relative;
	float: left;
	width: 100%;
	height: 100%;
}

.header{
	position: fixed;
	float: left;
	width: 100%;
	height: 100px;
	left: 0px;
	top: 0px;
	z-index: 250;
	background-color: rgb(73,26,141);
}


.menuFloat{
	display: flex;
	flex-direction: row;
	width: 100%;
	position: relative;
	float: left;
	list-style: none;
	padding: 0;
}
.menuFloat li{
	padding: 10px;
}

.top-1{
	top: 100px;
}
.top-50{
	margin-top: 50px;
}
.backLigthPurpure{
	background-color: rgb(194,150,255);
}
.bgPrimary{
	background-color: rgb(255,255,255);
}
.bgSecond{
	background-color: rgb(159,82,160);
}
.bg-black{
	background-color: black;
}

.leftColMargen{
	border-left: solid rgb(141,61,254) 5px;
}

.btn-bg-main{
	width: 98%;
	height: 60px;
	background-color: rgb(245,94,94);
	font-family: MS Sans Serif;
	color: white;
	font-size: 24px;
	border: none;
	border-radius: 5px;
	margin-top: 10px;
}

.ts-1{
	font-size: 14px;

}
.ts-2{
	font-size: 18px;
		
}
.ts-3{
	font-size: 20px;
		
}
.ts-4{
	font-size: 24px;
		
}
.ts-5{
	font-size: 30px;
		
}
input{
	position: relative;
	float: left;
	height: 30px;
	width: 100%;
	border-radius: 5px;
	border: solid gray 1px;
	font-family: MS Sans Serif;

}
textarea{
	position: relative;
	float: left;
	width: 98%;
	min-height: 100px;
	font-family: MS Sans Serif;
}


/*ESTILOS PARA FORMATOS DE FORMULARIOS*/

.frm{

	position: relative;
	float: left;
	height: auto;
	width: 100%;
	padding-bottom: 50px;
	
}
.frm .s1{
	
	position: relative;
	float: left;
	width: 96.5%;
	height: 30px;
	margin-left: 1%;
	margin-right: 1%;

	
	
}
.frm .s2{
	
	position: relative;
	float: left;
	width: 47.1%;
	height: 30px;
	margin-left: 1%;
	margin-right: 1%;
	
	
}
.frm .f{
	display: flex;
	justify-content: center;
	width: 100%;
	position: relative;
	float: left;
	margin-bottom: 10px;
}
.encabezado{
	display:  block;
	position: relative;
	float: left;
	background-color: rgb(57,18,112);
	border-radius: 5px 5px 0px 0px;
	height: auto;
	width: 100%;
	
}
.itemClase,.itemTarea{
	display: flex;
	justify-content: center;
	position: relative;
	float: left;
	margin-top: 10px;
	background-color: rgb(194,150,255);
	width: 100%;
	


}


.select{
	
	background-color: rgb(141,61,255);
	
}
.iconSm{
	position: relative;
	float: left;
	width: 40px;
	height: 40px;
}

.titulo{
	display: block;
	background-color: rgb(57,18,112);
	width: 100%;
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px;

}
.bordesR15{
	border-radius: 15px;
}

/*Estas clases son para li de las listas para que tengan formato de botones*/
.btnMenu{
	display: flex;
	justify-content: center;
	
	border-radius: 10px;
	background-color: rgb(57,18,112);
	min-width: 150px;
	width: auto;
	height: 30px;	
	border: none;
	color: white;
	font-family: MS Sans Serif;
	align-content: center;
	font-size: 18px; 
	padding: 1px 10px 1px 10px;
}
.btnMenu:hover{
	background-color: rgb(45,18,90);
}
/*----------------------------------------------------------------------------*/
.verticalCenter{
	display: flex;
	align-items: center;
}
.h70{
	min-height: 70px;
}
.h100{
	min-height: 100px;
}
.h200{
	min-height: 200px;
}
.h300{
	min-height: 300px;
}
.h400{
	min-height: 400px;
}
.h350{
	min-height: 500px;
}
.h600{
	min-height: 600px;
}


.centrarTodo{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}