#redes{
	display: flex;
	
	justify-content: space-around;
	top: -25px;
	left: -35px;
}

#redes a {
	text-decoration: none;
	margin-right: 10px;

}
#redes a img{
	width: 30px;
	height: 30px;
	border: none;
}

@media (max-width: 480px){
	#redes{
		width: 100%;
		justify-content: space-around;
		/*background-color: red;*/
		left: -10px;
	}
	#redes a img{
		width: 50px;
		height: 50px;
	}
}

@media (max-width: 370px){
	
}
